/* Styles go here */


.googlefonts {
	font-family: 'Caesar Dressing', cursive;
	font-family: 'Uncial Antiqua', cursive;
	
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;
}



body {
	background: #eee;
	font-family: 'Raleway', sans-serif;
	font-size: .7em;
	cursor: default;
}

h1 {
	font-family: 'Caesar Dressing', cursive;
	font-size: 2.5em;
}

h2 {
	font-family: 'Caesar Dressing', cursive;
	font-size: 2em;
}

h3 {
	font-family: 'Caesar Dressing', cursive;
	font-size: 1.5em;
}

.clear {
  clear: both;
}

#banner {
  line-height: 0.2em;
  color: #888;
  text-align: center;
}

h3.banner {
	text-decoration: overline;
	font-family: 'Raleway', sans-serif;
}

#introduction {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 3em;
}


/* Map Stuff */

td.mapTile {
  width: 500px;
  text-align: center;
  background-size: 100% 100%;
}

td:hover.mapTile {
	border: 1px dotted red;
}

td.focusTile {
	border: 1px solid red;
	text-align: center;
  	background-size: 100% 100%;
}

table {
  border-spacing: 0px;
  table-layout:fixed;
}

#worldMapTable {
  font-size:.25em; 
}

#minimapTable {
	font-size:.5em;
	border: 10px solid #aaa;
}

#worldMapDiv {
  background-color: khaki;
  padding: 10px;
  width: 80%;
  margin: auto;
}

#uiWorldMapExpansion {
  float:right;
}




/* Set Up Stuff */

#setupTable {
	margin: auto;
}

.setupCell {
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.setupSlider {
  width: 80px;
}

.setupSliderHemisphere {
  width: 20px;
}

#selectPane {
  display: none;
  width: 50%;
  background: #fff;
  border: 5px solid #555;
  padding: 10px;
  margin: 10px 33% 0 33%;
}




/* Primary User Interface */

#uiTileDiv {
	width: 80%;
	margin: auto;
}

.uiPanel {
  width: 30%;
  /* height: 200px; */
  float: left;
  margin: 5px;
}

.uiTitle {
  padding: 3px;
}

h3.ui {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

ul {
  margin: 3px;
  padding-left: 15px;
}

#uiDate {
  background-color: cyan;
  text-align: right;
}

#uiTitleMinimap {
  color: #7F462C;
  margin: 0px;
}

#uiTitlePeople {
  background-color: red;
  color: gold;  
}

.uiPop {
}

.uiPopUnguided {
}

.uiPopUnguided strong {
	color: blue;
}

.uiPopGuided strong {
	color:darkblue;
}

#uiTitleLand {
  background-color: darkgreen;
  color: khaki;  
}

#uiTitleDate {
  background-color: blue;
  color: lightgrey;  
  text-align: right;
}

#uiTitleCivics {
  background-color: purple;
  color: gold;  
}

#uiTitleWorship {
  background-color: orange;
  color: blue;  
}

#uiTitleRelations {
  background-color: yellow;
  color: darkorange;  
}

#uiNextTurn {
  float: right;
}

.uiGuidancePointsDisplay {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Caesar Dressing', cursive;
}

.uiPanelAlignRight {
	text-align: right;
}




#uiTextWall {
	width: 80%;
	margin: auto;
}

.uiPullPanel {
  margin: 5px;
}

#uiHelp {
  float: left;
  width: 45%;
}

#uiNotifications {
  float: right;
  width: 45%;
}

#uiTitleHelp {
  background-color: #333;
  color: #eee;
}

#uiHelpContent {
	width: 100%;
	height: 400px;
	border: 0;
}

#uiTitleNotifications {
  background-color: #228;
  color: #882;
}

#uiToggleHelpButton {
  float:right;
}

#uiToggleNotificationsButton {
  float:right;
}

.uiNotification {
}

.uiNotification:hover {
	background: #aaa;
}





/* Guidance Panel */

#uiGuidancePanel {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: #333;
	border: 3px solid #777;
	background: #ddd;
	line-height: 1.2em;
	padding: 10px;
}

#uiGuidanceTable {
	width: 100%;
}

#uiGuidancePopUp {
	width: 240px;
	padding-right: 15px;
	vertical-align: top;
}

#uiGuidanceCenter {
	width: 240px;
	text-align: left;
	border-left: 2px solid #777;
	border-right: 2px solid #777;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
}

#uiGuidanceRight {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
}

#uiGuidanceClose {
	width: 100px;
	text-align: right;
	vertical-align: top;
	padding-left: 15px;
}

.uiGuidanceOption {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
}

.uiGuidanceOption:hover {
	background: #aaa;
}

#uiGuidanceMapTable {
	font-size:.5em;
	border: 10px solid #aaa;
	}

td.targetTile {
	border: 2px solid lime;
	text-align: center;
}

h3.guidance {
	margin-bottom: 0px;
}

p.guidance {
	margin-top: 0px;
}



/* Pop-Ups  */

a.popup span {
  display:none;
  color: #333;
  z-index: 10;
  padding: 7px 10px;
  margin-top: -30px;
  margin-left: 28px;
  width: 240px;
}

a.popup:hover span {
  display: inline;
  color: #333;
  position:absolute;
  border: 3px solid #777;
  background: #ddd;
  line-height: 1.2em;
}

.bigstat {
  font-size: 2em;
  font-weight: 700;
  color: #333;
  margin: 10px 0px 10px 0px;
}

.popupheader {
  color: blue;
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
}

.popupbox {
  color: blue;
  text-align: center;
}

.popupdata {
  text-align: left;
}





